@import "reset.scss";

.login-header {
    @include insert-box-shadow();
    background: linear-gradient(
        180deg,
        #eff5ff 0%,
        rgba(239, 245, 255, 0) 100%
    );
    .container {
        max-width: rem(900);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: rem(74);
        a {
            line-height: 0;
        }
    }
}
.login-module {
    margin-top: rem(40);
    @include breakpointmax($end-small) {
        margin-top: rem(32);
    }
    &__inner {
        max-width: rem(900);
    }
    &__main {
        @include set-flex-box($jc: space-around, $ai: center);
        gap: rem(40);
        &--left {
            padding: rem(40);
            background: $clr-29;
            min-height: rem(480);
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: rem(8);
            .upload-photo {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                position: relative;
                img {
                    width: rem(80);
                    height: rem(80);
                    border-radius: 50%;
                    background: $clr-1;
                }
                span {
                    display: inline-block;
                    margin-top: rem(10);
                    @include desc-7();
                }
                .file-upload {
                    position: absolute;
                    z-index: 100;
                    left: 0;
                    width: rem(80);
                    height: rem(80);
                    top: 0;
                    opacity: 0;
                    cursor: pointer;
                }
            }
            .desc {
                margin-top: rem(25);
                text-align: center;
                h2 {
                    @include heading-1();
                    @include set-typography(26, 38);
                    color: $clr-1;
                }
                p {
                    margin-top: rem(10);
                    @include desc-8();
                }
            }
        }
        &--right {
            width: 55%;
            .login-form,
            .reg-form {
                @include insert-box-shadow();
                padding: 0 rem(50);
                background: #fff;
                border-radius: rem(8);
                @include breakpointmax($end-small) {
                    padding: 0 rem(16);
                }
                .heading {
                    text-align: center;
                    margin-top: 15px;
                    padding-top: 15px;
                }
                h2 {
                    @include heading-3();
                    @include breakpointmax($end-small) {
                        @include set-typography(18, 26);
                    }
                }
                p {
                    @include desc-2();
                    margin-top: rem(6);
                    @include breakpointmax($end-small) {
                        @include set-typography(12, 16);
                    }
                }
                form {
                    margin-top: rem(20);
                }
                .reg-login-toggle {
                    margin: rem(15) 0;
                    padding-bottom: rem(10);
                    @include set-typography(12, 15);
                    @include breakpointmax($end-small) {
                        padding-bottom: rem(20);
                    }
                    .login-link,
                    .signup-link {
                        color: #1a73e9;
                        cursor: pointer;
                    }
                }
            }
        }
        @include breakpointmax($end-small) {
            flex-direction: column;
            &--left {
                width: 100%;
            }
            &--right {
                width: 100%;
            }
        }
    }
}
.error{
    color: #ED1C24;
    @include set-typography(10, 15);
}
.input-section-main {
    @include set-flex-box();
    gap: rem(15);
    @include breakpointmax($end-small) {
        flex-direction: column;
        gap: 0;
    }
    @include breakpoint($end-small) {
        .form-elm-section {
            width: 49%;
        }
    }
}
.input_txt_box {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: rem(6) rem(10);
    border: 1px solid #e0e0e0;
    display: block;
    transition: all 1s ease;
    @include desc-5();
    border-radius: rem(4);
    margin-top: rem(5);
    outline: none;
    &.select-box{
        border: none;
        margin-top: 0;
        padding: 0 rem(8);
        option{
            text-transform: capitalize;
        }
    }
}
.disabled{
    cursor: none;
    pointer-events: none;
    background: $clr-5;
    border: 1px solid $clr-5;
}
.view-upload-docs{
    @include desc-5();
    color: #1a73e9;
    text-decoration: underline;
}
.form-elm-section {
    @include set-flex-box();
    position: relative;
    flex-direction: column;
    margin-bottom: rem(16);
    width: 100%;
    &.btn-container{
        flex-direction: row;
        justify-content: flex-start;
        gap: rem(18);
        position: relative;
        #fileNameDisplay{
            position: absolute;
            top: rem(60);
            left: rem(10);
            @include desc-3();
        }
    }
    label {
        @include desc-6();
    }
    .input_txt_box {
        width: -webkit-fill-available;
        width: -moz-available;
        padding: rem(6) rem(10);
        border: 1px solid #e0e0e0;
        display: block;
        transition: all 1s ease;
        @include desc-5();
        border-radius: rem(4);
        margin-top: rem(5);
        outline: none;
    }
    .error {
        &.validation {
            position: absolute;
            top: rem(55);
            color: $primary;
            font-size: rem(10);
        }
    }
    &.input_sec_num {
        .input_txt_box {
            padding-left: rem(60);
            &::before {
                content: "";
                border: 1px solid #e0e0e0;
                display: block;
            }
        }
        select {
            border: none;
            position: absolute;
            top: rem(36);
            left: rem(5);
            outline: none;
            &:hover,
            &:focus {
                border: none;
            }
        }
    }
    &.input_sec_center {
        align-items: center;
        padding-bottom: rem(24);
    }
    &.btn-container {
        padding-bottom: rem(15);
        margin-bottom: 0;
    }
    .forget_password{
        @include desc-3();
        color: #1a73e9;
        position: absolute;
        right: 0;
        bottom: rem(-22);
        cursor: pointer;
    }
    .btn {
        border-radius: rem(20);
        background: $clr-29;
        border: none;
        cursor: pointer;
        padding: 11px 25px;
        margin-top: rem(10);
        min-width: rem(90);
        @include breakpointmax($end-small) {
            width: 100%;
        }
        @include hover {
            background: #d57521;
            color: #fff;
        }
        &.disabled{
            cursor: none;
            pointer-events: none;
            background: $clr-5;
        }
    }
    .upcoming_session_container &{
        .error {
            &.validation{
                top: rem(64);
            }
        }
    }
}
.model-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 9999;
    left: 0;
    top: 0;
}
.model-box {
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99991;
    -webkit-font-smoothing: antialiased;
    .model-container {
        max-width: rem(450);
        width: 100%;
        background: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        padding: rem(30);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -webkit-transition: 1s ease-in-out;
        line-height: 1.4em;
        border-radius: rem(4);
        min-height: rem(220);
        &.modal-confirm {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .model-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            figure {
                img {
                    border-radius: 50%;
                }
            }
            h2 {
                margin-top: rem(10);
                @include heading-6();
            }
            h3 {
                margin-top: rem(10);
                @include desc-5();
            }
            h4 {
                margin-top: rem(6);
                @include desc-3();
                span {
                    font-weight: 700;
                }
            }
            .password-change {
                width: 100%;
                form {
                    margin-top: rem(20);
                }
            }
        }
    }
    .model-container .close {
        position: absolute;
        top: rem(18);
        right: rem(18);
        cursor: pointer;
        transition: 0.5s;
        opacity: 1;
    }
}
.align-center {
    text-align: center;
}
.marg-t10 {
    margin-top: rem(10);
}
.marg-t20 {
    margin-top: rem(20);
}
.marg-t30 {
    margin-top: rem(30);
}
.dashboard {
    &__header {
        position: relative;
        z-index: 2;
        background: #fff;
        transition: all ease 0.5s;
        @include insert-box-shadow();
        background: linear-gradient(
            180deg,
            #eff5ff 0%,
            rgba(239, 245, 255, 0) 100%
        );
        &--auth-detail {
            @include set-flex-box($ai: center);
            height: rem(74);
        }
        &--welcome {
        }
        &--loggedin-user {
            position: relative;
            cursor: pointer;
            @include hover() {
                .header-user-nav {
                    display: block;
                    top: rem(28);
                }
            }
            .header-user-nav {
                background: $clr-1;
                @include insert-box-shadow();
                border-radius: rem(10);
                position: absolute;
                top: rem(-9999);
                z-index: 99;
                right: 0;
                width: rem(190);
                padding: rem(20);
                .hvr_bx {
                    ul {
                        li {
                            padding-top: rem(10);
                            a {
                                @include desc-2();
                                @include hover() {
                                    color: $primary;
                                }
                            }
                            i.fa {
                                width: 20px;
                                height: 18px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 8px;
                            }
                            &:first-child {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
            .flex-shrink-0 {
                img {
                    border-radius: 50%;
                }
            }
            &.oauth{
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    padding: rem(20);
                }
            }
            .non-login{
                @include set-flex-box($ai:center);
                gap: rem(20);
                a{
                    @include desc-5();
                    color: #1a73e9;
                    &:last-child{
                        border: 1px solid #e5e5e5;
                        border-radius: rem(30);
                        padding: rem(10) rem(25);
                    }
                }
            }
        }
    }
    &__elements {
        &--inner {
            min-height: rem(500);
            border-radius: rem(12);
            padding: rem(20);
            margin-top: rem(10);
            &.form-container-pop {
                border: none;
                height: auto;
                max-width: rem(600);
            }
            ul {
                @include set-flex-box($jc:center);
                position: relative;
                gap: rem(32);
                @include breakpointmax($end-small){
                    justify-content: flex-start;
                    gap: rem(24);
                }
                li {
                    .dashboard__elements--item {
                        gap: rem(5);
                        width: rem(132);
                        padding: rem(14) rem(18);
                        border-radius: rem(12);
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                        background: #f8fcff;
                        line-height: rem(20);
                        text-align: center;
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h2 {
                            @include desc-2();
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            max-width: rem(85);
                            gap: rem(5);
                            color: $clr-4;
                            line-height: rem(20);
                        }
                        &:hover {
                            @include insert-box-shadow();
                            background: rgb(250, 235, 215);
                        }
                    }
                    
                    &.active {
                        .dashboard__elements--item {
                            @include insert-box-shadow();
                            background: rgb(250, 235, 215);
                        }
                        .details {
                            display: block;
                        }
                    }
                }
            }
            .user-activity-details{
                .details {
                    margin-top: rem(35);
                    width: 100%;
                    & > h3 {
                        @include heading-5();                            
                    }
                    p {
                        @include desc-2();
                        margin-top: rem(5);
                        &.error{
                            color: #ED1C24;
                            @include set-typography(10, 15);
                        }
                    }
                    &--items {
                        margin-top: rem(20);
                        h3 {
                            @include heading-6();
                            span{
                                @include desc-2();
                            }
                        }
                        .list-view {
                            display: block;
                            list-style-position: inside;
                            margin-top: rem(10);
                            li {
                                list-style-type: decimal;
                                @include desc-5();
                                textarea{
                                    margin-bottom: rem(10);
                                }
                            }
                        }
                        &__topics{
                            margin-top: rem(10);
                            display: flex;
                            flex-direction: column;
                            padding-left: rem(20);    
                            gap: rem(15);    
                            list-style-type: decimal;                        
                            li{                                    
                                width: 100%;
                                .topic{
                                    @include desc-5();
                                }
                            }
                        }
                        &.quantitative, &.qualitative, &.outcomes{      
                            .qualitative__data, .outcomes__data, .quantitative__data{
                                margin-top: rem(20);
                            }                          
                            h4{
                                @include desc-5();
                                margin-top: rem(24);
                            }
                            ul{
                                gap: rem(8);
                                li{
                                    @include desc-2();
                                    ul{
                                        list-style-type: circle;
                                        list-style-position: inside;
                                        flex-direction: column;     
                                        gap: rem(5);  
                                        margin-top: rem(6);                                 
                                    }
                                }
                            }
                        }
                        .previous-transactions{
                            margin-top: rem(12);
                        }
                    }
                    textarea {
                        margin-top: rem(5);
                        border-radius: rem(8);
                        border: 1px solid #e0e0e0;
                        width: -webkit-fill-available;
                        resize: none;
                        outline: none;
                        padding: rem(10) rem(16);
                    }
                    .btn {
                        margin-top: rem(15);
                    }
                }
            }
            &.activate-list {
                border: none;
                &__container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                }
                &__item {
                    display: block;
                    &.head {
                        background: $clr-29;
                    }
                }
            }
            .show-user-details {
                position: relative;
                .upcoming-session{
                    position: absolute;
                    right: 0;
                    top: rem(5);
                    padding: 5px 12px;
                    border-radius: 6px;
                    cursor: pointer;
                    @include insert-box-shadow();
                    a{
                        @include heading-3();
                        i{
                            -moz-animation-duration: 500ms;
                            -moz-animation-name: blink;
                            -moz-animation-iteration-count: infinite;
                            -moz-animation-direction: alternate;
                            -webkit-animation-duration: 500ms;
                            -webkit-animation-name: blink;
                            -webkit-animation-iteration-count: infinite;
                            -webkit-animation-direction: alternate;
                            animation-duration: 500ms;
                            animation-name: blink;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                            color: red;
                        }
                    }  
                    @include breakpointmax($end-small){
                        top: rem(-7);
                    }                  
                }
                .userName {
                    text-align: center;
                    @include heading-3();
                }
                &__inner {
                    @include set-flex-box($jc: flex-start);
                    flex-wrap: wrap;
                    margin-top: rem(24);
                    gap: rem(32);
                    @include breakpointmax($end-small){
                        gap: rem(10);
                    }
                    .detail-items {
                        width: rem(350);
                        ul {
                            flex-direction: column;
                            gap: rem(6);
                            li {
                                @include desc-5();
                                &.profile-img {
                                    img {
                                        border-radius: rem(6);
                                    }
                                    @include breakpointmax($end-small){
                                        display: flex;
                                        justify-content: center;
                                        width: -webkit-fill-available;
                                        margin-bottom: rem(15);
                                    }
                                }
                                &.role {
                                    span {
                                        text-transform: capitalize;
                                    }
                                }
                                span {
                                    color: #736e6e;
                                }
                                &.download-report{
                                    margin-top: rem(10);
                                }
                            }
                        }
                        @include breakpointmax($end-small){
                            &:last-of-type {
                                order: 1;
                            }
                            &:first-of-type(){
                                order: 2;
                            }
                            &:nth-child(2){
                                order: 3;
                            }
                        }
                    }
                }
            }
            .user-dashboard-info {
                .user-data-list{
                    @include breakpointmax($end-small){
                        overflow-x: auto;
                    }
                }               
                
                &.admin-info {    
                    .show-role-tab{                        
                        background: $clr-29;
                        border-radius: 5px 5px 0 0;
                        @include set-flex-box($jc:flex-start);
                        button{
                            background: transparent;
                            border: none;
                            @include desc-5();
                            color: #fff;
                            padding: rem(10);
                            min-width: rem(110);
                            transition: all 1s ease;                            
                            &.active{
                                background: $clr-26;
                            }
                            &:first-of-type(){
                                border-radius: rem(5) 0 0 0;
                            }
                            @include hover(){
                                background: $clr-26;
                            }
                        }
                    }
                    .assigned-user-list{
                        position: relative;
                        h3{
                            @include desc-5();
                        }
                        ul{
                            background: #fff;
                            border-radius: rem(8);
                            @include insert-box-shadow();
                            display: none;
                            position: absolute;
                            width: 90%;
                            text-align: left;
                            padding: rem(10);
                            top: rem(30);
                            left: rem(-15);
                            z-index: 1;
                            &::before{
                                content: '';
                                position: absolute;
                                top: -50px;
                                right: 0;
                                padding: 28px;
                            }
                            li{
                                @include desc-5();
                                &:not(:first-of-type){
                                    margin-top: rem(10);
                                }
                            }
                        }
                        @include hover(){
                            ul{
                                display: block;
                            }
                        }
                    }
                }
            }
            table{
                width: 100%;
                tr {
                    justify-content: flex-start;
                    padding: rem(8) rem(14);
                    gap: rem(10);
                    border: 1px solid #e0e0e0;
                    border-top: none;
                    td {
                        @include desc-5();
                        padding: rem(8);
                        position: relative;
                        &:first-of-type() {
                            width: 6%;
                        }
                        &:nth-child(2) {
                            width: 18%;
                        }
                        &:nth-child(3) {
                            width: 25%;
                        }
                        &:nth-child(4) {
                            width: 45%;
                            display: flex;
                            justify-content: space-around;
                        }
                        &:nth-child(5) {
                            width: 15%;
                            text-align: center;
                            text-transform: capitalize;
                        }
                        span{
                            width: rem(80);
                            display: inline-block;
                        }
                        .approved{
                            color: $clr-28;
                        }
                        .denied{
                            color: $clr-27;
                        }
                        &.edit-transaction{
                            color: #1a73e9;
                        }
                        .error{
                            position: absolute;
                        }
                    }                        
                    &:last-of-type() {
                        border-radius: 0 0 rem(6) rem(6);
                    }
                    &:not(:first-of-type) {
                        cursor: pointer;
                        @include hover() {
                            background: linear-gradient(
                                180deg,
                                #eff5ff 0%,
                                rgba(239, 245, 255, 0) 100%
                            );
                        }
                    }
                    &.user-dashboard-info__head-list {
                        @include insert-box-shadow();
                        border-radius: rem(4);
                        background: linear-gradient(180deg, #eff5ff 0%, rgba(239, 245, 255, 0) 100%);
                        border: none;
                    }
                    &.pre-tracs-data{
                        td{
                            text-transform: capitalize;
                        }
                    }
                }
                &.light-view{
                    tr{                            
                        td {
                            &:nth-child(2) {
                                width: 70%;
                            }
                        }
                        &:not(:first-of-type) {
                            @include hover() {
                                background: transparent;
                            }
                        }
                    }
                }
                &.complex-view{
                    tr{                            
                        td {
                            &:first-of-type {
                                width: 5%;
                            }
                            &:nth-child(2) {
                                width: 5%;
                            }
                            &:last-of-type {
                                width: auto;
                                min-width: 80%;
                            }
                            .table-layer-2{
                                tr{
                                    td{
                                        max-width: rem(100);
                                        min-width: unset;
                                        text-align: center; 
                                        padding-bottom: 0;        
                                        span{
                                            border-radius: rem(3);
                                            padding: rem(5);
                                            display: block;
                                            background: #e0e0e0;
                                            width: rem(60);
                                        }
                                        .input_txt_box{
                                            margin-top: 0;
                                            width: rem(82);
                                            padding: rem(5);
                                            &.sdate{
                                                background: #d5d5d5;
                                                text-align: center;
                                                &::placeholder {
                                                    color: $clr-4;
                                                    opacity: 1; 
                                                  }
                                            }
                                        }     
                                    }
                                }
                            }                                
                        }
                        &:not(:first-of-type) {
                            @include hover() {
                                background: transparent;
                            }
                        }
                    }
                }                    
            }
            &.sitemap{
                table tr td:nth-child(2){
                    width: 30%;
                }
            }
            .upcoming-events{
                margin-top: rem(30);
            }
        }
    }
}

.component-divider {
    border-image: linear-gradient(90deg, #fff, #ccc, #fff);
    border-image-slice: 1;
    border-top: 1px solid #ccc;
    padding-top: rem(28);
    margin-top: rem(28);
}

.photo-upload-container {
    position: relative;
    .profile-pic {
        width: rem(128);
        max-height: rem(128);
        border-radius: 50%;
    }
    .circle {
        width: rem(128);
        height: rem(128);
        border: 2px solid rgba(255, 255, 255, 0.2);
        @include insert-box-shadow();
        border-radius: rem(12);
        position: relative;
        .login-module__main & {
            border: none;
            box-shadow: none;
        }
    }
    img {
        max-width: 100%;
        width: rem(128);
        height: auto;
    }
    .p-image {
        position: absolute;
        top: rem(14);
        left: 0;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: 1;
        width: rem(128);
        height: rem(128);
        cursor: pointer;
    }
    .file-upload {
        opacity: 0;
        width: rem(128);
        height: rem(128);
        cursor: pointer;
    }
    .p-image:hover {
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .upload-button {
        position: absolute;
        right: 0;
        bottom: rem(16);
        .login-module__main & {
            right: rem(20);
        }
    }

    .upload-button:hover {
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        color: #999;
    }
}

.edit-profile {
    &__inner {
        @include set-flex-box();
        &--left {
            width: 30%;
        }
        &--right {
            width: 70%;
        }
    }
}
.skeleton-container{    
    @include breakpoint($end-small){
        width: rem(700);
        margin: 0 auto;
    }
    &__list{
        flex-direction: column!important;
        li{
            border: 1px solid #dbe1eb;
            border-radius: 12px;
            padding: rem(20);
            width: -webkit-fill-available;
        }
    }
}
.skeleton {
    padding: 15px;
    width: 300px;
    background: #fff;
    border-radius: rem(16);
    display: flex;
    @include insert-box-shadow();
    margin: 0 auto;
    justify-content: inherit;

    &.smalls {
        height: rem(74);

        @include breakpointmax($end-small) {
            height: rem(55);
        }

        &.up-down {
            flex-direction: column;
            width: auto;
            height: auto;

            .skeleton__right {
                order: 1;
            }

            .skeleton__left {
                width: 90%;

                .line.h18 {
                    margin-top: rem(15);
                }
            }
        }
    }

    &.mediums {
        width: rem(360);
    }

    &__right {
        order: 2;

        .square {
            height: rem(100);
            width: rem(100);
            border-radius: 8px;
            background: rgba(130, 130, 130, 0.2);
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                color-stop(8%, rgba(130, 130, 130, 0.2)),
                color-stop(18%, rgba(130, 130, 130, 0.3)),
                color-stop(33%, rgba(130, 130, 130, 0.2))
            );
            background: linear-gradient(
                to right,
                rgba(130, 130, 130, 0.2) 8%,
                rgba(130, 130, 130, 0.3) 18%,
                rgba(130, 130, 130, 0.2) 33%
            );
            background-size: 800px 100px;
            animation: wave-squares 1s infinite ease-out;
            will-change: transform;
            transform: translateZ(0);

            @include breakpointmax($end-small) {
                height: rem(62);
                width: rem(62);
            }
        }
    }

    &__left {
        order: 1;
        padding-right: 15px;
        width: calc(100% - 95px);

        .line {
            height: 12px;
            margin-bottom: 6px;
            border-radius: 10px;
            background: rgba(130, 130, 130, 0.2);
            background: -webkit-gradient(
                linear,
                left top,
                right top,
                color-stop(8%, rgba(130, 130, 130, 0.2)),
                color-stop(18%, rgba(130, 130, 130, 0.3)),
                color-stop(33%, rgba(130, 130, 130, 0.2))
            );
            background: linear-gradient(
                to right,
                rgba(130, 130, 130, 0.2) 8%,
                rgba(130, 130, 130, 0.3) 18%,
                rgba(130, 130, 130, 0.2) 33%
            );
            background-size: 800px 100px;
            animation: wave-lines 1s infinite ease-out;
            will-change: transform;
            transform: translateZ(0);

            &:not(:first-child) {
                margin-top: rem(15);
            }

            &.w40 {
                width: 40%;
            }

            &.h18 {
                height: 18px;
            }

            &.h12 {
                height: rem(12);
                margin-top: rem(6);
            }

            &.lbtn {
                margin-top: rem(25);
            }
        }
        .line-space {
            height: rem(10);
        }
    }
    &.large {
        min-height: rem(140);
        width: auto;
        padding: rem(24);
        box-shadow: none;
        @include breakpoint($end-small){
            width: rem(600);
        }
        .skeleton__left {
            width: 60%;
        }
        .skeleton__right {
            width: 40%;
            display: flex;
            justify-content: center;
            gap: rem(20);
            .circle {
                border-radius: 50%;
            }
        }
    }
    &.large-square {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        .skeleton__right {
            order: 1;
            display: flex;
            gap: 20px;
            justify-content: center;
            .square.circle {
                border-radius: 50%;
            }
        }
        .skeleton__left {
            order: 2;
            margin-top: rem(35);
        }
    }
    &.no-shadow {
        box-shadow: none;
        padding-left: 0;
    }
}
.info_success {
    position: fixed;
    bottom: rem(25);
    left: rem(25);
    z-index: 9999;
    text-align: center;

    &.info_consentmsg {
        color: $clr-1;
        background: $clr-29;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
        border-radius: rem(12);
        padding: rem(19) rem(55) rem(19) rem(20);
        z-index: 99999;
    }

    &__inner {
        position: relative;
        text-align: left;

        span {
        @include desc-2();
        color: $clr-1;
        }

        .info_close {
        position: absolute;
        right: rem(-45);
        top: rem(-7);
        padding: rem(8) rem(10);
        border-radius: 50%;

        &:hover {
            background: rgba(255, 255, 255, .1);
        }

        .close-info {
            background-position: -664px -177px;
            height: 16px;
            width: 16px;
        }
        }
    }

    @include breakpointmax($end-small) {
        left: rem(24);
        right: rem(24);
    }
}
.trainer-list{
    width: 100%;
}
.update-transaction-container{
    margin-bottom: rem(20);
}
.session-data{
    margin-top: rem(10);
}

.navigation{  
    margin-top: rem(32);  
    ul{
        @include set-flex-box($jc:flex-end);
        gap: rem(22);
        li{
            position: relative;
           a{
            @include desc-9();    
           } 
           @include hover{
            .navigation__more{
                display: block;
            }
            > a{
                opacity: .7;
            }
           }
        }
        @include breakpointmax($end-small){
            display: none;
        }        
    }
    .component-divider{
        border-image: linear-gradient(178deg, #fff, #ccc, #fff);
        border-image-slice: 1;
        margin-top: rem(16);
    }
    &__more{
        background: #fff;
        padding: 16px 0;
        position: absolute;
        right: 0;
        top: 40px;
        z-index: 10;
        border-radius: 12px;
        width: 194px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
        display: none;
        &::before{
            content: '';
            position: absolute;
            top: -50px;
            right: 0;
            padding: 28px;
        }
        &--dropdown{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            a{
                padding: 6px 32px;
                width: calc(100% - 64px);
                @include hover{
                    background: #f5f5f5;
                }
            }
        }
    }
}
.rev-main-heading {
    @include set-flex-box($ai:center);
    flex-direction: column;
    margin-bottom: rem(20);
    h2{
        @include heading-1();
        text-align: -webkit-center;
        text-transform: capitalize;
    }
    &::after{
        border-radius: 6px;
        background: $clr-26;
        content: "";
        display: block;
        width: rem(50);
        height: 4px;
        margin-top: 16px;
    }
    &.left-align{
        
    }
}
.think-container{
    &__content{
        max-width: rem(820);
        text-align: center;
        margin: 0 auto;   
        p{
            margin-bottom: rem(12);
        }     
    }
    &__img-container{
        @include set-flex-box($jc:center);
        max-width: rem(820);
        gap: rem(30);
        margin: rem(24) auto rem(10) auto;
        img{
            height: rem(200);
            width: rem(200);
            border-radius: rem(10);
        }
        @include breakpointmax($end-small){
            flex-wrap: wrap;
            img{
                height: rem(100);
                width: rem(100);
            }
        }
    }
    &__member-container{
        text-align: center;
        h3{
            @include heading-6();
            text-align: center;
            margin-top: rem(16);
            text-transform: capitalize;
        }
        .think-container__img-container{
            img{
                height: rem(150);
                width: rem(150);
            }
            @include breakpointmax($end-small){
                flex-wrap: wrap;
                img{
                    height: rem(90);
                    width: rem(90);
                }
            }
        }
    }
    .btn{
        margin-top: rem(20);
        display: inline-block;
        text-transform: capitalize;
    }
}
.faq-panel{
    &__list{
        margin: 40px auto 0 auto;
        max-width: 880px; 
    }
    &__item{
        border: 1px solid #dbe1eb;
        border-radius: 8px;
        padding: 16px;
        position: relative;
        &:not(:first-child){
            margin-top: rem(10);
        }
        .question {
            font-size: 14px;
            line-height: 22px;
            font-family: $font-montserrat;
            font-weight: 500;
            color: #191b1f;
            font-weight: 600;
            cursor: pointer;
            position: relative;
            padding-right: 16px;
            &::after{
                content: "";
                background-image: url(/images/sprite-icons.svg?mod=26);
                background-repeat: no-repeat;
                position: absolute;
                top: 3px;
                right: 0;
                display: block;
                width: 20px;
                height: 20px;
                background-position: -284px -296px;
            }
            &.active{
                &::after{
                    background-position: -251px -296px;
                }
            }
        }
        .answer{
            display: none;
            font-size: 14px;
            line-height: 22px;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            color: #5f666e;
            margin-top: 10px;
            &.opend{
                display: block;
            }
        }
    }
}

footer{
    background: #f5f5f5;
    padding:  rem(30) 0;
    position: relative;
    margin-top: rem(28);
    .top-footer{
        text-align: center;
    }
    .staticpage-section{
        background-color: #fff;
        -ms-display: flex;
        -webkit-display: flex;
        display: flex;
        -ms-justify-content: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -ms-align-items: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        border-radius: 12px;
        margin-top: 20px;
        padding: 30px 60px;
        
        div{
            align-self: center;
            p{
                margin-right: 60px;
                display: inline-block;
                a{
                    color: $clr-4;
                    font-size: rem(18);
                }
            }
        }
        ul{
            width: 40%;
            li{
                font-size: 14px;
                line-height: 20px;
                font-family: Montserrat, sans-serif;
                font-weight: 500;
                color: #595959;
                float: left;
                width: 44%;
                a{
                    color: #595959;
                }
                &:first-child, &:nth-child(2){
                    margin-bottom: rem(15); 
                }
                :nth-child(odd) {
                    margin-right: rem(40);
                }
            }
        }        
        @include breakpointmax($end-small){
            padding: 30px 20px;
            justify-content: flex-start;
            div{
                align-self: flex-start;
                order: 1;
                width: 50%;
                margin-right: 20px;
                gap: 10px;
                display: flex;
                flex-direction: column;
                p{
                    width: 100%;
                    a{
                        font-size: rem(14);
                        font-weight: 600;
                    }
                }
            }
            ul{
                width: unset;
                order: 2;
                li{
                    width: 100%;
                }
            }
        }
    }
    .section-copyright{
        margin-top: rem(16);
        text-align: center;
        
        p{
            font-size: 12px;
            line-height: 16px;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            color: #595959;
        }
    }
}

.useful-links{
    margin-top: rem(50);
    li{
        @include desc-11();
        display: inline-block;
        width: 46%;
        margin-left: 20px;
        border-bottom: solid 1px #e6e6e6;
        margin-bottom: 20px;
        padding-bottom: 10px;
        a{
            color: #191b1f;
            svg{
                margin-left: 5px;
                transition: all .3s ease-in;
            }
            @include hover(){
                color: $primary;
                svg, path{
                    fill: $primary;
                    margin-left: rem(10);
                }
            }
        }
    }
}
.cinfo{
    line-height: 28px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #191b1f;
    font-size: 16px;
}
.top-sec{
    h3{
        @include heading-3();
        font-weight: 700;
    }
    &__item{
        @include set-flex-box($jc:flex-start);
        gap: rem(20);
        margin-top: rem(10);
        &--left{
            @include desc-5();
            width: 70%;
        }
        &--right{
            img{
                border-radius: rem(12);
            }
        }
        @include breakpointmax($end-small){
            flex-direction: column;
            &--left{
                width: 100%;
            }
        }
    }
    &__mid{
        margin-top: rem(20);        
        p{
            @include desc-5();
            margin-top: rem(10);
        }
        ul{
            margin-top: rem(10);
            padding-left: rem(20);
            li{
                @include desc-10();
                list-style-type: disc;
            }
        }
        h5{
            @include desc-10();
            line-height: rem(36);
            span{
                color: $clr-4;
                font-weight: 700;
            }
        }
        h4{
            @include desc-11();
            margin-top: rem(10);
            font-size: rem(16);
            font-weight: 700;
        }
    }
}

.certifications{
    ul{
        margin-top: rem(12);
        list-style: decimal;
        list-style-position: inside;
        li{
            @include desc-5();     
            width: 100%;  
            list-style-type: decimal; 
            display: list-item;
            margin-left: 0;
            &:last-child(){
                border-bottom: none;
            }
        }
    }
}

.sticky-container{
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    .btn{
        border-radius: 12px;
        background: $clr-8;
        border: 1px solid #ccc;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clr-4;
    }
    @include breakpointmax($end-small){
        right: rem(10);
        bottom: rem(10);
        .btn{
            span{
                margin-left: 0;
            }
        }
    }
}

