@import "reset.scss";

.login-module {
    margin-top: rem(40);
    &__inner {
        max-width: rem(900);
    }
    &__main {
        @include set-flex-box($jc: space-around, $ai: center);
        gap: rem(40);
        &--left {
            padding: rem(40);
            background: #fd7702;
            min-height: rem(480);
            width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .upload-photo {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                position: relative;
                img {
                    width: rem(80);
                    height: rem(80);
                    border-radius: 50%;
                    background: $clr-1;
                }
                span {
                    display: inline-block;
                    margin-top: rem(10);
                    @include desc-7();
                }
                .file-upload {
                    position: absolute;
                    z-index: 100;
                    left: 0;
                    width: rem(80);
                    height: rem(80);
                    top: 0;
                    opacity: 0;
                    cursor: pointer;
                }
            }
            .desc {
                margin-top: rem(25);
                text-align: center;
                h2 {
                    @include heading-1();
                    @include set-typography(26, 38);
                }
                p {
                    margin-top: rem(10);
                    @include desc-8();
                }
            }
        }
        &--right {
            width: 55%;
            .login-form,
            .reg-form {
                @include insert-box-shadow();
                padding: 0 rem(50);
                background: #fff;
                .heading {
                    text-align: center;
                    margin-top: 15px;
                    padding-top: 15px;
                }
                h2 {
                    @include heading-3();
                }
                p {
                    @include desc-2();
                    margin-top: rem(6);
                }
                form {
                    margin-top: rem(20);
                }
                .reg-login-toggle {
                    margin: rem(15) 0;
                    padding-bottom: rem(10);
                    @include set-typography(12, 15);
                    .login-link,
                    .signup-link {
                        color: #1a73e9;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.input-section-main {
    @include set-flex-box();
    gap: rem(15);
}
.form-elm-section {
    @include set-flex-box();
    position: relative;
    flex-direction: column;
    margin-bottom: rem(14);
    label {
        @include desc-6();
    }
    .input_txt_box {
        width: -webkit-fill-available;
        padding: rem(6) rem(10);
        border: 1px solid #e0e0e0;
        display: block;
        transition: all 1s ease;
        @include desc-5();
        border-radius: rem(4);
        margin-top: rem(5);
        outline: none;
    }
    .error {
        &.validation {
            position: absolute;
            top: rem(55);
            color: $primary;
            font-size: rem(10);
        }
    }
    &.input_sec_num {
        .input_txt_box {
            padding-left: rem(60);
            &::before {
                content: "";
                border: 1px solid #ccc;
                display: block;
            }
        }
        select {
            border: none;
            position: absolute;
            top: rem(36);
            left: rem(5);
            outline: none;
            &:hover,
            &:focus {
                border: none;
            }
        }
    }
    &.input_sec_center {
        align-items: center;
        padding-bottom: rem(24);
    }
    &.btn-container {
        padding-bottom: rem(15);
        margin-bottom: 0;
    }
    .btn {
        border-radius: rem(4);
        background: $clr-30;
        border: none;
        padding: rem(10) rem(20);
        @include hover {
            background: #2a4c6f;
            color: #fff;
        }
    }
}
.model-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 9999;
    left: 0;
    top: 0;
}
.model-box {
    position: fixed;
    overflow: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99991;
    -webkit-font-smoothing: antialiased;
    .model-container {
        max-width: rem(450);
        width: 100%;
        background: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        padding: rem(30);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -webkit-transition: 1s ease-in-out;
        line-height: 1.4em;
        border-radius: rem(4);
        min-height: rem(220);
        &.modal-confirm {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .model-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            figure {
                img {
                    border-radius: 50%;
                }
            }
            h2 {
                margin-top: rem(10);
                @include heading-6();
            }
            h3 {
                margin-top: rem(10);
                @include desc-5();
            }
            h4 {
                margin-top: rem(6);
                @include desc-3();
                span {
                    font-weight: 700;
                }
            }
            .password-change{
                width: 100%;
                form{
                    margin-top: rem(20);
                }
            }
        }
    }
    .model-container .close {
        position: absolute;
        top: rem(18);
        right: rem(18);
        cursor: pointer;
        transition: 0.5s;
        opacity: 1;
    }
}

.dashboard {
    &__header {
        position: relative;
        z-index: 2;
        background: #fff;
        transition: all ease 0.5s;
        @include insert-box-shadow();
        &--auth-detail {
            @include set-flex-box($ai: center);
            height: rem(55);
        }
        &--welcome {
        }
        &--loggedin-user {
            position: relative;
            @include hover() {
                .header-user-nav {
                    display: block;
                    top: rem(28);
                }
            }
            .header-user-nav {
                background: $clr-1;
                @include insert-box-shadow();
                border-radius: rem(10);
                position: absolute;
                top: rem(-9999);
                z-index: 99;
                right: 0;
                width: rem(190);
                padding: rem(20);
                .hvr_bx {
                    ul {
                        li {
                            padding-top: rem(10);
                            a {
                                @include desc-2();
                                @include hover() {
                                    color: $primary;
                                }
                            }
                            i.fa {
                                width: 20px;
                                height: 18px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 8px;
                            }
                            .fa-key {
                                background: url(/images/create-pwd-icon.svg) 0 0
                                    no-repeat;
                            }
                            .fa-pencil {
                                background: url(/images/edit-icon.svg) 0 0
                                    no-repeat;
                            }
                            .fa-power-off {
                                background: url(/images/logout-icon.svg) 0 0
                                    no-repeat;
                            }
                            &:first-child {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                padding: rem(20);
            }
        }
    }
    &__elements {
        &--inner {
            height: rem(500);
            border: 1px solid #ccc;
            border-radius: rem(12);
            padding: rem(20);
            margin-top: rem(24);
            ul {
                @include set-flex-box();
                li {
                    @include desc-2();
                    gap: rem(5);
                    width: rem(132);
                    padding: rem(14) rem(18);
                    border-radius: rem(12);
                    @include insert-box-shadow();
                    background: #f8fcff;
                    line-height: rem(20);
                    text-align: center;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    a {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: rem(90);
                        gap: rem(5);
                        color: $clr-4;
                    }
                }
            }
        }
    }
}
