@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(2.8); } }

@keyframes header {
  from {
    text-align: center; }
  to {
    text-align: left; } }

@keyframes wave-lines {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

@keyframes wave-squares {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

@keyframes skinners {
  from {
    background-attachment: unset;
    background-position: center top; }
  to {
    background-attachment: fixed;
    background-position: center 70px; } }

@keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

*, html, body {
  margin: 0;
  padding: 0; }

*, html, body {
  margin: 0;
  padding: 0; }

.input-box {
  background: #FFF;
  border: 1px solid #DEDEDE;
  padding: 16px 24px;
  width: 100%;
  border-radius: 36px; }
  @media screen and (min-width: 1000px) {
    .input-box {
      border-radius: 36px; } }
  @media screen and (min-width: 1000px) {
    .input-box {
      padding: 12px 20px; } }

@media screen and (max-width: 1000px) {
  .desktop-view {
    display: none !important; } }

@media screen and (min-width: 1000px) {
  .mobile-view {
    display: none !important; } }

.camel-case {
  text-transform: capitalize; }

.hide {
  display: none !important; }

.btn,
.btn-vote {
  padding: 11px 20px;
  background: #fd7702;
  color: #fff;
  border: 1px solid #fd7702;
  border-radius: 40px;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  transition: all ease 0.5s; }
  .btn:hover, .btn:focus,
  .btn-vote:hover,
  .btn-vote:focus {
    background: #fff;
    color: #fd7702; }

.btn-invert {
  padding: 11px 20px;
  background: #ED1C24;
  color: #fff;
  border: 1px solid #ED1C24;
  border-radius: 40px;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  transition: all ease 0.5s;
  background: #fff;
  color: #ED1C24; }
  .btn-invert:hover, .btn-invert:focus {
    background: #fff;
    color: #ED1C24; }
  .btn-invert:hover, .btn-invert:focus {
    background: #ED1C24;
    color: #fff; }

.btn-invert-gray {
  padding: 11px 20px;
  background: #736E6E;
  color: #fff;
  border: 1px solid #736E6E;
  border-radius: 40px;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  transition: all ease 0.5s;
  background: #fff;
  color: #736E6E; }
  .btn-invert-gray:hover, .btn-invert-gray:focus {
    background: #fff;
    color: #736E6E; }
  .btn-invert-gray:hover, .btn-invert-gray:focus {
    background: #736E6E;
    color: #fff; }
  .btn-invert-gray:hover, .btn-invert-gray:focus {
    background: #ED1C24;
    color: #FFF;
    border-color: #ED1C24; }
  .btn-invert-gray:focus {
    outline: none; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (max-width: 1000px) {
    .container {
      padding-left: 16px;
      padding-right: 16px; } }

.sprite-icon {
  width: 20px;
  height: 20px;
  display: inline-block; }
  .sprite-icon.coversation {
    background: url(/images/conversation.png) 0 0 no-repeat; }
  .sprite-icon.objectives {
    background: url(/images/objective.png) 0 0 no-repeat; }
  .sprite-icon.outcomes {
    background: url(/images/outcomes.png) 0 0 no-repeat; }
  .sprite-icon.comments {
    background: url(/images/comments.png) 0 0 no-repeat; }
  .sprite-icon.upload {
    background: url(/images/upload.png) 0 0 no-repeat; }
  .sprite-icon.ethics {
    background: url(/images/ethics.png) 0 0 no-repeat; }

* {
  word-wrap: break-word; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  overflow-y: auto; }

header, footer, aside, main, section, fieldset, nav {
  display: block; }

ul, ol {
  list-style: none; }

img,
picture,
source {
  display: inline-block; }

a {
  text-decoration: none;
  cursor: pointer; }

button,
[role="button"] {
  cursor: pointer; }

::selection {
  background: #ED1C24;
  color: #FFF; }

#maincontent {
  position: relative;
  z-index: 99; }
  @media screen and (max-width: 1000px) {
    #maincontent {
      z-index: 2; } }

.login-header {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #eff5ff 0%, rgba(239, 245, 255, 0) 100%); }
  .login-header .container {
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 74px; }
    .login-header .container a {
      line-height: 0; }

.login-module {
  margin-top: 40px; }
  @media screen and (max-width: 1000px) {
    .login-module {
      margin-top: 32px; } }
  .login-module__inner {
    max-width: 900px; }
  .login-module__main {
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    -ms-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    gap: 40px; }
    .login-module__main--left {
      padding: 40px;
      background: #fd7702;
      min-height: 480px;
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 8px; }
      .login-module__main--left .upload-photo {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative; }
        .login-module__main--left .upload-photo img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: #FFF; }
        .login-module__main--left .upload-photo span {
          display: inline-block;
          margin-top: 10px;
          font-size: 11px;
          line-height: 18px;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          color: #FFF; }
        .login-module__main--left .upload-photo .file-upload {
          position: absolute;
          z-index: 100;
          left: 0;
          width: 80px;
          height: 80px;
          top: 0;
          opacity: 0;
          cursor: pointer; }
      .login-module__main--left .desc {
        margin-top: 25px;
        text-align: center; }
        .login-module__main--left .desc h2 {
          font-size: 40px;
          line-height: 48px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          color: #FFF;
          font-size: 26px;
          line-height: 38px; }
        .login-module__main--left .desc p {
          margin-top: 10px;
          font-size: 10px;
          line-height: 15px;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          color: #FFF; }
    .login-module__main--right {
      width: 55%; }
      .login-module__main--right .login-form,
      .login-module__main--right .reg-form {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        padding: 0 50px;
        background: #fff;
        border-radius: 8px; }
        @media screen and (max-width: 1000px) {
          .login-module__main--right .login-form,
          .login-module__main--right .reg-form {
            padding: 0 16px; } }
        .login-module__main--right .login-form .heading,
        .login-module__main--right .reg-form .heading {
          text-align: center;
          margin-top: 15px;
          padding-top: 15px; }
        .login-module__main--right .login-form h2,
        .login-module__main--right .reg-form h2 {
          font-size: 20px;
          line-height: 32px;
          font-family: "Open Sans", sans-serif;
          font-weight: 500;
          color: #262626; }
          @media screen and (max-width: 1000px) {
            .login-module__main--right .login-form h2,
            .login-module__main--right .reg-form h2 {
              font-size: 18px;
              line-height: 26px; } }
        .login-module__main--right .login-form p,
        .login-module__main--right .reg-form p {
          font-size: 14px;
          line-height: 17px;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          color: #808080;
          margin-top: 6px; }
          @media screen and (max-width: 1000px) {
            .login-module__main--right .login-form p,
            .login-module__main--right .reg-form p {
              font-size: 12px;
              line-height: 16px; } }
        .login-module__main--right .login-form form,
        .login-module__main--right .reg-form form {
          margin-top: 20px; }
        .login-module__main--right .login-form .reg-login-toggle,
        .login-module__main--right .reg-form .reg-login-toggle {
          margin: 15px 0;
          padding-bottom: 10px;
          font-size: 12px;
          line-height: 15px; }
          @media screen and (max-width: 1000px) {
            .login-module__main--right .login-form .reg-login-toggle,
            .login-module__main--right .reg-form .reg-login-toggle {
              padding-bottom: 20px; } }
          .login-module__main--right .login-form .reg-login-toggle .login-link,
          .login-module__main--right .login-form .reg-login-toggle .signup-link,
          .login-module__main--right .reg-form .reg-login-toggle .login-link,
          .login-module__main--right .reg-form .reg-login-toggle .signup-link {
            color: #1a73e9;
            cursor: pointer; }
    @media screen and (max-width: 1000px) {
      .login-module__main {
        flex-direction: column; }
        .login-module__main--left {
          width: 100%; }
        .login-module__main--right {
          width: 100%; } }

.input-section-main {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  gap: 15px; }
  @media screen and (max-width: 1000px) {
    .input-section-main {
      flex-direction: column;
      gap: 0; } }
  @media screen and (min-width: 1000px) {
    .input-section-main .form-elm-section {
      width: 49%; } }

.input_txt_box {
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 6px 10px;
  border: 1px solid #e0e0e0;
  display: block;
  transition: all 1s ease;
  font-size: 14px;
  line-height: 21px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #262626;
  border-radius: 4px;
  margin-top: 5px;
  outline: none; }
  .input_txt_box.select-box {
    border: none;
    margin-top: 0;
    padding: 0 8px; }
    .input_txt_box.select-box option {
      text-transform: capitalize; }

.form-elm-section {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: relative;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%; }
  .form-elm-section.btn-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 18px; }
  .form-elm-section label {
    font-size: 14px;
    line-height: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #262626; }
  .form-elm-section .input_txt_box {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 6px 10px;
    border: 1px solid #e0e0e0;
    display: block;
    transition: all 1s ease;
    font-size: 14px;
    line-height: 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #262626;
    border-radius: 4px;
    margin-top: 5px;
    outline: none; }
  .form-elm-section .error.validation {
    position: absolute;
    top: 55px;
    color: #ED1C24;
    font-size: 10px; }
  .form-elm-section.input_sec_num .input_txt_box {
    padding-left: 60px; }
    .form-elm-section.input_sec_num .input_txt_box::before {
      content: "";
      border: 1px solid #e0e0e0;
      display: block; }
  .form-elm-section.input_sec_num select {
    border: none;
    position: absolute;
    top: 36px;
    left: 5px;
    outline: none; }
    .form-elm-section.input_sec_num select:hover, .form-elm-section.input_sec_num select:focus {
      border: none; }
  .form-elm-section.input_sec_center {
    align-items: center;
    padding-bottom: 24px; }
  .form-elm-section.btn-container {
    padding-bottom: 15px;
    margin-bottom: 0; }
  .form-elm-section .btn {
    border-radius: 20px;
    background: #fd7702;
    border: none;
    cursor: pointer;
    padding: 11px 25px;
    margin-top: 10px; }
    @media screen and (max-width: 1000px) {
      .form-elm-section .btn {
        width: 100%; } }
    .form-elm-section .btn:hover, .form-elm-section .btn:focus {
      background: #d57521;
      color: #fff; }

.model-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 9999;
  left: 0;
  top: 0; }

.model-box {
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99991;
  -webkit-font-smoothing: antialiased; }
  .model-box .model-container {
    max-width: 450px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: 1s ease-in-out;
    line-height: 1.4em;
    border-radius: 4px;
    min-height: 220px; }
    .model-box .model-container.modal-confirm {
      display: flex;
      justify-content: center;
      align-items: center; }
    .model-box .model-container .model-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .model-box .model-container .model-content figure img {
        border-radius: 50%; }
      .model-box .model-container .model-content h2 {
        margin-top: 10px;
        font-size: 18px;
        line-height: 26px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #262626; }
      .model-box .model-container .model-content h3 {
        margin-top: 10px;
        font-size: 14px;
        line-height: 21px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: #262626; }
      .model-box .model-container .model-content h4 {
        margin-top: 6px;
        font-size: 12px;
        line-height: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #808080; }
        .model-box .model-container .model-content h4 span {
          font-weight: 700; }
      .model-box .model-container .model-content .password-change {
        width: 100%; }
        .model-box .model-container .model-content .password-change form {
          margin-top: 20px; }
  .model-box .model-container .close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 1; }

.align-center {
  text-align: center; }

.marg-t10 {
  margin-top: 10px; }

.marg-t20 {
  margin-top: 20px; }

.marg-t30 {
  margin-top: 30px; }

.dashboard__header {
  position: relative;
  z-index: 2;
  background: #fff;
  transition: all ease 0.5s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #eff5ff 0%, rgba(239, 245, 255, 0) 100%); }
  .dashboard__header--auth-detail {
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 74px; }
  .dashboard__header--loggedin-user {
    position: relative;
    cursor: pointer; }
    .dashboard__header--loggedin-user:hover .header-user-nav, .dashboard__header--loggedin-user:focus .header-user-nav {
      display: block;
      top: 28px; }
    .dashboard__header--loggedin-user .header-user-nav {
      background: #FFF;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      position: absolute;
      top: -9999px;
      z-index: 99;
      right: 0;
      width: 190px;
      padding: 20px; }
      .dashboard__header--loggedin-user .header-user-nav .hvr_bx ul li {
        padding-top: 10px; }
        .dashboard__header--loggedin-user .header-user-nav .hvr_bx ul li a {
          font-size: 14px;
          line-height: 17px;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          color: #808080; }
          .dashboard__header--loggedin-user .header-user-nav .hvr_bx ul li a:hover, .dashboard__header--loggedin-user .header-user-nav .hvr_bx ul li a:focus {
            color: #ED1C24; }
        .dashboard__header--loggedin-user .header-user-nav .hvr_bx ul li i.fa {
          width: 20px;
          height: 18px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px; }
        .dashboard__header--loggedin-user .header-user-nav .hvr_bx ul li:first-child {
          padding-top: 0; }
    .dashboard__header--loggedin-user .flex-shrink-0 img {
      border-radius: 50%; }
    .dashboard__header--loggedin-user:before {
      content: "";
      position: absolute;
      width: 100%;
      padding: 20px; }

.dashboard__elements--inner {
  min-height: 500px;
  border-radius: 12px;
  padding: 20px;
  margin-top: 10px; }
  .dashboard__elements--inner.form-container-pop {
    border: none;
    height: auto;
    max-width: 600px; }
  .dashboard__elements--inner ul {
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: relative;
    gap: 32px; }
    @media screen and (max-width: 1000px) {
      .dashboard__elements--inner ul {
        justify-content: flex-start;
        gap: 24px; } }
    .dashboard__elements--inner ul li .dashboard__elements--item {
      gap: 5px;
      width: 132px;
      padding: 14px 18px;
      border-radius: 12px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      background: #f8fcff;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .dashboard__elements--inner ul li .dashboard__elements--item h2 {
        font-size: 14px;
        line-height: 17px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #808080;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90px;
        gap: 5px;
        color: #262626;
        line-height: 20px; }
      .dashboard__elements--inner ul li .dashboard__elements--item:hover {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        background: antiquewhite; }
    .dashboard__elements--inner ul li.active .dashboard__elements--item {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      background: antiquewhite; }
    .dashboard__elements--inner ul li.active .details {
      display: block; }
  .dashboard__elements--inner .user-activity-details .details {
    margin-top: 35px;
    width: 100%; }
    .dashboard__elements--inner .user-activity-details .details > h3 {
      font-size: 28px;
      line-height: 40px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      color: #262626; }
    .dashboard__elements--inner .user-activity-details .details p {
      font-size: 14px;
      line-height: 17px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: #808080;
      margin-top: 5px; }
    .dashboard__elements--inner .user-activity-details .details--items {
      margin-top: 20px; }
      .dashboard__elements--inner .user-activity-details .details--items h3 {
        font-size: 18px;
        line-height: 26px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        color: #262626; }
        .dashboard__elements--inner .user-activity-details .details--items h3 span {
          font-size: 14px;
          line-height: 17px;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          color: #808080; }
      .dashboard__elements--inner .user-activity-details .details--items .list-view {
        display: block;
        list-style-position: inside;
        margin-top: 10px; }
        .dashboard__elements--inner .user-activity-details .details--items .list-view li {
          list-style-type: decimal;
          font-size: 14px;
          line-height: 21px;
          font-family: "Open Sans", sans-serif;
          font-weight: 500;
          color: #262626; }
      .dashboard__elements--inner .user-activity-details .details--items__topics {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        gap: 15px;
        list-style-type: disc; }
        .dashboard__elements--inner .user-activity-details .details--items__topics li {
          width: 100%; }
          .dashboard__elements--inner .user-activity-details .details--items__topics li .topic {
            font-size: 14px;
            line-height: 21px;
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            color: #262626; }
      .dashboard__elements--inner .user-activity-details .details--items.quantitative .qualitative__data, .dashboard__elements--inner .user-activity-details .details--items.quantitative .outcomes__data, .dashboard__elements--inner .user-activity-details .details--items.quantitative .quantitative__data, .dashboard__elements--inner .user-activity-details .details--items.qualitative .qualitative__data, .dashboard__elements--inner .user-activity-details .details--items.qualitative .outcomes__data, .dashboard__elements--inner .user-activity-details .details--items.qualitative .quantitative__data, .dashboard__elements--inner .user-activity-details .details--items.outcomes .qualitative__data, .dashboard__elements--inner .user-activity-details .details--items.outcomes .outcomes__data, .dashboard__elements--inner .user-activity-details .details--items.outcomes .quantitative__data {
        margin-top: 20px; }
      .dashboard__elements--inner .user-activity-details .details--items.quantitative h4, .dashboard__elements--inner .user-activity-details .details--items.qualitative h4, .dashboard__elements--inner .user-activity-details .details--items.outcomes h4 {
        font-size: 14px;
        line-height: 21px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: #262626;
        margin-top: 24px; }
      .dashboard__elements--inner .user-activity-details .details--items.quantitative ul, .dashboard__elements--inner .user-activity-details .details--items.qualitative ul, .dashboard__elements--inner .user-activity-details .details--items.outcomes ul {
        gap: 8px; }
        .dashboard__elements--inner .user-activity-details .details--items.quantitative ul li, .dashboard__elements--inner .user-activity-details .details--items.qualitative ul li, .dashboard__elements--inner .user-activity-details .details--items.outcomes ul li {
          font-size: 14px;
          line-height: 17px;
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          color: #808080; }
          .dashboard__elements--inner .user-activity-details .details--items.quantitative ul li ul, .dashboard__elements--inner .user-activity-details .details--items.qualitative ul li ul, .dashboard__elements--inner .user-activity-details .details--items.outcomes ul li ul {
            list-style-type: circle;
            list-style-position: inside;
            flex-direction: column;
            gap: 5px;
            margin-top: 6px; }
    .dashboard__elements--inner .user-activity-details .details textarea {
      margin-top: 30px;
      border-radius: 12px;
      border: 1px solid #e0e0e0;
      width: -webkit-fill-available;
      resize: none;
      outline: none;
      padding: 20px; }
    .dashboard__elements--inner .user-activity-details .details .btn {
      margin-top: 15px; }
  .dashboard__elements--inner.activate-list {
    border: none; }
    .dashboard__elements--inner.activate-list__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    .dashboard__elements--inner.activate-list__item {
      display: block; }
      .dashboard__elements--inner.activate-list__item.head {
        background: #fd7702; }
  .dashboard__elements--inner .show-user-details {
    position: relative; }
    .dashboard__elements--inner .show-user-details .upcoming-session {
      position: absolute;
      right: 0;
      top: 5px;
      padding: 5px 12px;
      border-radius: 6px;
      cursor: pointer;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); }
      .dashboard__elements--inner .show-user-details .upcoming-session a {
        font-size: 20px;
        line-height: 32px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: #262626; }
        .dashboard__elements--inner .show-user-details .upcoming-session a i {
          -moz-animation-duration: 500ms;
          -moz-animation-name: blink;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: alternate;
          -webkit-animation-duration: 500ms;
          -webkit-animation-name: blink;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: alternate;
          animation-duration: 500ms;
          animation-name: blink;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          color: red; }
      @media screen and (max-width: 1000px) {
        .dashboard__elements--inner .show-user-details .upcoming-session {
          top: -7px; } }
    .dashboard__elements--inner .show-user-details .userName {
      text-align: center;
      font-size: 20px;
      line-height: 32px;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      color: #262626; }
    .dashboard__elements--inner .show-user-details__inner {
      -ms-display: flex;
      -webkit-display: flex;
      display: flex;
      -ms-justify-content: flex-start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -ms-align-items: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 24px;
      gap: 32px; }
      @media screen and (max-width: 1000px) {
        .dashboard__elements--inner .show-user-details__inner {
          gap: 10px; } }
      .dashboard__elements--inner .show-user-details__inner .detail-items {
        width: 350px; }
        .dashboard__elements--inner .show-user-details__inner .detail-items ul {
          flex-direction: column;
          gap: 6px; }
          .dashboard__elements--inner .show-user-details__inner .detail-items ul li {
            font-size: 14px;
            line-height: 21px;
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            color: #262626; }
            .dashboard__elements--inner .show-user-details__inner .detail-items ul li.profile-img img {
              border-radius: 6px; }
            @media screen and (max-width: 1000px) {
              .dashboard__elements--inner .show-user-details__inner .detail-items ul li.profile-img {
                display: flex;
                justify-content: center;
                width: -webkit-fill-available;
                margin-bottom: 15px; } }
            .dashboard__elements--inner .show-user-details__inner .detail-items ul li.role span {
              text-transform: capitalize; }
            .dashboard__elements--inner .show-user-details__inner .detail-items ul li span {
              color: #736e6e; }
        @media screen and (max-width: 1000px) {
          .dashboard__elements--inner .show-user-details__inner .detail-items:last-of-type {
            order: 1; }
          .dashboard__elements--inner .show-user-details__inner .detail-items:first-of-type {
            order: 2; }
          .dashboard__elements--inner .show-user-details__inner .detail-items:nth-child(2) {
            order: 3; } }
  @media screen and (max-width: 1000px) {
    .dashboard__elements--inner .user-dashboard-info .user-data-list {
      overflow-x: auto; } }
  .dashboard__elements--inner .user-dashboard-info table {
    width: 100%; }
    .dashboard__elements--inner .user-dashboard-info table tr {
      justify-content: flex-start;
      padding: 8px 14px;
      gap: 10px;
      border: 1px solid #e0e0e0;
      border-top: none; }
      .dashboard__elements--inner .user-dashboard-info table tr td {
        font-size: 14px;
        line-height: 21px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: #262626;
        padding: 8px; }
        .dashboard__elements--inner .user-dashboard-info table tr td:first-of-type {
          width: 6%; }
        .dashboard__elements--inner .user-dashboard-info table tr td:nth-child(2) {
          width: 18%; }
        .dashboard__elements--inner .user-dashboard-info table tr td:nth-child(3) {
          width: 25%; }
        .dashboard__elements--inner .user-dashboard-info table tr td:nth-child(4) {
          width: 45%;
          display: flex;
          justify-content: space-around; }
        .dashboard__elements--inner .user-dashboard-info table tr td:nth-child(5) {
          width: 15%;
          text-align: center;
          text-transform: capitalize; }
        .dashboard__elements--inner .user-dashboard-info table tr td span {
          width: 80px;
          display: inline-block; }
        .dashboard__elements--inner .user-dashboard-info table tr td .approved {
          color: #397532; }
        .dashboard__elements--inner .user-dashboard-info table tr td .denied {
          color: #a7262b; }
      .dashboard__elements--inner .user-dashboard-info table tr:last-of-type {
        border-radius: 0 0 6px 6px; }
      .dashboard__elements--inner .user-dashboard-info table tr:not(:first-of-type) {
        cursor: pointer; }
        .dashboard__elements--inner .user-dashboard-info table tr:not(:first-of-type):hover, .dashboard__elements--inner .user-dashboard-info table tr:not(:first-of-type):focus {
          background: linear-gradient(180deg, #eff5ff 0%, rgba(239, 245, 255, 0) 100%); }
      .dashboard__elements--inner .user-dashboard-info table tr.user-dashboard-info__head-list {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        background: linear-gradient(180deg, #eff5ff 0%, rgba(239, 245, 255, 0) 100%);
        border: none; }
    .dashboard__elements--inner .user-dashboard-info table.light-view tr td:nth-child(2) {
      width: 70%; }
    .dashboard__elements--inner .user-dashboard-info table.light-view tr:not(:first-of-type):hover, .dashboard__elements--inner .user-dashboard-info table.light-view tr:not(:first-of-type):focus {
      background: transparent; }
    .dashboard__elements--inner .user-dashboard-info table.complex-view tr td:first-of-type {
      width: 5%; }
    .dashboard__elements--inner .user-dashboard-info table.complex-view tr td:nth-child(2) {
      width: 5%; }
    .dashboard__elements--inner .user-dashboard-info table.complex-view tr td:last-of-type {
      width: auto;
      min-width: 80%; }
    .dashboard__elements--inner .user-dashboard-info table.complex-view tr td .table-layer-2 tr td {
      width: 70px;
      min-width: unset;
      text-align: center;
      padding-bottom: 0; }
      .dashboard__elements--inner .user-dashboard-info table.complex-view tr td .table-layer-2 tr td span {
        border-radius: 3px;
        padding: 5px;
        display: block;
        background: #e0e0e0;
        width: 60px; }
      .dashboard__elements--inner .user-dashboard-info table.complex-view tr td .table-layer-2 tr td .input_txt_box {
        margin-top: 0;
        width: 56px;
        padding: 5px; }
    .dashboard__elements--inner .user-dashboard-info table.complex-view tr:not(:first-of-type):hover, .dashboard__elements--inner .user-dashboard-info table.complex-view tr:not(:first-of-type):focus {
      background: transparent; }
  .dashboard__elements--inner .user-dashboard-info.admin-info .show-role-tab {
    background: #fd7702;
    border-radius: 5px 5px 0 0;
    -ms-display: flex;
    -webkit-display: flex;
    display: flex;
    -ms-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row; }
    .dashboard__elements--inner .user-dashboard-info.admin-info .show-role-tab button {
      background: transparent;
      border: none;
      font-size: 14px;
      line-height: 21px;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      color: #262626;
      color: #fff;
      padding: 10px;
      min-width: 110px;
      transition: all 1s ease; }
      .dashboard__elements--inner .user-dashboard-info.admin-info .show-role-tab button.active {
        background: #db6d0d; }
      .dashboard__elements--inner .user-dashboard-info.admin-info .show-role-tab button:first-of-type {
        border-radius: 5px 0 0 0; }
      .dashboard__elements--inner .user-dashboard-info.admin-info .show-role-tab button:hover, .dashboard__elements--inner .user-dashboard-info.admin-info .show-role-tab button:focus {
        background: #db6d0d; }
  .dashboard__elements--inner .user-dashboard-info.admin-info .assigned-user-list {
    position: relative; }
    .dashboard__elements--inner .user-dashboard-info.admin-info .assigned-user-list h3 {
      font-size: 14px;
      line-height: 21px;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      color: #262626; }
    .dashboard__elements--inner .user-dashboard-info.admin-info .assigned-user-list ul {
      background: #fff;
      border-radius: 8px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      display: none;
      position: absolute;
      width: 90%;
      text-align: left;
      padding: 10px;
      top: 30px;
      left: -15px;
      z-index: 1; }
      .dashboard__elements--inner .user-dashboard-info.admin-info .assigned-user-list ul::before {
        content: '';
        position: absolute;
        top: -50px;
        right: 0;
        padding: 28px; }
      .dashboard__elements--inner .user-dashboard-info.admin-info .assigned-user-list ul li {
        font-size: 14px;
        line-height: 21px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        color: #262626; }
        .dashboard__elements--inner .user-dashboard-info.admin-info .assigned-user-list ul li:not(:first-of-type) {
          margin-top: 10px; }
    .dashboard__elements--inner .user-dashboard-info.admin-info .assigned-user-list:hover ul, .dashboard__elements--inner .user-dashboard-info.admin-info .assigned-user-list:focus ul {
      display: block; }

.component-divider {
  border-image: linear-gradient(90deg, #fff, #ccc, #fff);
  border-image-slice: 1;
  border-top: 1px solid #ccc;
  padding-top: 24px;
  margin-top: 24px; }

.photo-upload-container {
  position: relative; }
  .photo-upload-container .profile-pic {
    width: 128px;
    max-height: 128px;
    border-radius: 50%; }
  .photo-upload-container .circle {
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: relative; }
    .login-module__main .photo-upload-container .circle {
      border: none;
      box-shadow: none; }
  .photo-upload-container img {
    max-width: 100%;
    width: 128px;
    height: auto; }
  .photo-upload-container .p-image {
    position: absolute;
    top: 14px;
    left: 0;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
    width: 128px;
    height: 128px;
    cursor: pointer; }
  .photo-upload-container .file-upload {
    opacity: 0;
    width: 128px;
    height: 128px;
    cursor: pointer; }
  .photo-upload-container .p-image:hover {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .photo-upload-container .upload-button {
    position: absolute;
    right: 0;
    bottom: 16px; }
    .login-module__main .photo-upload-container .upload-button {
      right: 20px; }
  .photo-upload-container .upload-button:hover {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: #999; }

.edit-profile__inner {
  -ms-display: flex;
  -webkit-display: flex;
  display: flex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .edit-profile__inner--left {
    width: 30%; }
  .edit-profile__inner--right {
    width: 70%; }

.skeleton {
  padding: 15px;
  width: 300px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  justify-content: inherit; }
  .skeleton.smalls {
    height: 74px; }
    @media screen and (max-width: 1000px) {
      .skeleton.smalls {
        height: 55px; } }
    .skeleton.smalls.up-down {
      flex-direction: column;
      width: auto;
      height: auto; }
      .skeleton.smalls.up-down .skeleton__right {
        order: 1; }
      .skeleton.smalls.up-down .skeleton__left {
        width: 90%; }
        .skeleton.smalls.up-down .skeleton__left .line.h18 {
          margin-top: 15px; }
  .skeleton.mediums {
    width: 360px; }
  .skeleton__right {
    order: 2; }
    .skeleton__right .square {
      height: 100px;
      width: 100px;
      border-radius: 8px;
      background: rgba(130, 130, 130, 0.2);
      background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
      background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
      background-size: 800px 100px;
      animation: wave-squares 1s infinite ease-out;
      will-change: transform;
      transform: translateZ(0); }
      @media screen and (max-width: 1000px) {
        .skeleton__right .square {
          height: 62px;
          width: 62px; } }
  .skeleton__left {
    order: 1;
    padding-right: 15px;
    width: calc(100% - 95px); }
    .skeleton__left .line {
      height: 12px;
      margin-bottom: 6px;
      border-radius: 10px;
      background: rgba(130, 130, 130, 0.2);
      background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
      background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
      background-size: 800px 100px;
      animation: wave-lines 1s infinite ease-out;
      will-change: transform;
      transform: translateZ(0); }
      .skeleton__left .line:not(:first-child) {
        margin-top: 15px; }
      .skeleton__left .line.w40 {
        width: 40%; }
      .skeleton__left .line.h18 {
        height: 18px; }
      .skeleton__left .line.h12 {
        height: 12px;
        margin-top: 6px; }
      .skeleton__left .line.lbtn {
        margin-top: 25px; }
    .skeleton__left .line-space {
      height: 10px; }
  .skeleton.large {
    min-height: 140px;
    width: auto;
    padding: 24px;
    box-shadow: none; }
    .skeleton.large .skeleton__left {
      width: 60%; }
    .skeleton.large .skeleton__right {
      width: 40%;
      display: flex;
      justify-content: center;
      gap: 20px; }
      .skeleton.large .skeleton__right .circle {
        border-radius: 50%; }
  .skeleton.large-square {
    display: flex;
    flex-direction: column;
    box-shadow: none; }
    .skeleton.large-square .skeleton__right {
      order: 1;
      display: flex;
      gap: 20px;
      justify-content: center; }
      .skeleton.large-square .skeleton__right .square.circle {
        border-radius: 50%; }
    .skeleton.large-square .skeleton__left {
      order: 2;
      margin-top: 35px; }
  .skeleton.no-shadow {
    box-shadow: none;
    padding-left: 0; }

.info_success {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 9999;
  text-align: center; }
  .info_success.info_consentmsg {
    color: #FFF;
    background: #fd7702;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 19px 55px 19px 20px;
    z-index: 99999; }
  .info_success__inner {
    position: relative;
    text-align: left; }
    .info_success__inner span {
      font-size: 14px;
      line-height: 17px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: #808080;
      color: #FFF; }
    .info_success__inner .info_close {
      position: absolute;
      right: -45px;
      top: -7px;
      padding: 8px 10px;
      border-radius: 50%; }
      .info_success__inner .info_close:hover {
        background: rgba(255, 255, 255, 0.1); }
      .info_success__inner .info_close .close-info {
        background-position: -664px -177px;
        height: 16px;
        width: 16px; }
  @media screen and (max-width: 1000px) {
    .info_success {
      left: 24px;
      right: 24px; } }
