.input-box {
  background: #FFF;
  border: 1px solid #DEDEDE;
  padding: 16px 24px;
  width: 100%;
  border-radius: 36px; }
  @media screen and (min-width: 1000px) {
    .input-box {
      border-radius: 36px; } }
  @media screen and (min-width: 1000px) {
    .input-box {
      padding: 12px 20px; } }

@media screen and (max-width: 1000px) {
  .desktop-view {
    display: none !important; } }

@media screen and (min-width: 1000px) {
  .mobile-view {
    display: none !important; } }

.camel-case {
  text-transform: capitalize; }

.hide {
  display: none !important; }

.btn,
.btn-vote {
  padding: 11px 20px;
  background: #fd7702;
  color: #fff;
  border: 1px solid #fd7702;
  border-radius: 40px;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  transition: all ease 0.5s; }
  .btn:hover, .btn:focus,
  .btn-vote:hover,
  .btn-vote:focus {
    background: #fff;
    color: #fd7702; }

.btn-invert {
  padding: 11px 20px;
  background: #ED1C24;
  color: #fff;
  border: 1px solid #ED1C24;
  border-radius: 40px;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  transition: all ease 0.5s;
  background: #fff;
  color: #ED1C24; }
  .btn-invert:hover, .btn-invert:focus {
    background: #fff;
    color: #ED1C24; }
  .btn-invert:hover, .btn-invert:focus {
    background: #ED1C24;
    color: #fff; }

.btn-invert-gray {
  padding: 11px 20px;
  background: #736E6E;
  color: #fff;
  border: 1px solid #736E6E;
  border-radius: 40px;
  width: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  transition: all ease 0.5s;
  background: #fff;
  color: #736E6E; }
  .btn-invert-gray:hover, .btn-invert-gray:focus {
    background: #fff;
    color: #736E6E; }
  .btn-invert-gray:hover, .btn-invert-gray:focus {
    background: #736E6E;
    color: #fff; }
  .btn-invert-gray:hover, .btn-invert-gray:focus {
    background: #ED1C24;
    color: #FFF;
    border-color: #ED1C24; }
  .btn-invert-gray:focus {
    outline: none; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (max-width: 1000px) {
    .container {
      padding-left: 16px;
      padding-right: 16px; } }

.containerMid {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (max-width: 1000px) {
    .containerMid {
      padding-left: 16px;
      padding-right: 16px; } }

.sprite-icon {
  width: 20px;
  height: 20px;
  display: inline-block; }
  .sprite-icon.coversation {
    background: url(/images/conversation.png) 0 0 no-repeat; }
  .sprite-icon.objectives {
    background: url(/images/objective.png) 0 0 no-repeat; }
  .sprite-icon.outcomes {
    background: url(/images/outcomes.png) 0 0 no-repeat; }
  .sprite-icon.comments {
    background: url(/images/comments.png) 0 0 no-repeat; }
  .sprite-icon.upload {
    background: url(/images/upload.png) 0 0 no-repeat; }
  .sprite-icon.ethics {
    background: url(/images/ethics.png) 0 0 no-repeat; }

.sprite-icon-img {
  background-image: url(/images/sprite-icons.svg?mod=26);
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  width: 14px; }
  .sprite-icon-img.hamberger-icon {
    background-position: -562px -414px;
    width: 26px;
    height: 26px;
    outline: 0; }
  .sprite-icon-img.whatsapp-icon {
    background-position: -478px -349px;
    width: 25px;
    height: 25px;
    margin-left: 10px; }
